@import "tailwindcss"

@theme {
  --color-primary: #943ccc;
  --color-primary-dark: #752ba6;

  --color-secondary: #179299;
  --color-secondary-dark: #106469;

  --color-danger: #d20f39;
  --color-danger-dark: #9f0b2b;

  --color-success: #38c172;
  --color-success-dark: #2c9659;

  --color-neutral: #3d4451;
  --color-neutral-dark: #252932;
}
