@import "tailwindcss";

@theme {
  --color-primary: #475199;
  --color-primary-dark: #333d79;
  --color-primary-subtle: #f1f2f9;
  --color-primary-light: #dfe1ec;
  --color-primary-fg: #ffffff;

  --color-secondary: #e7202c;
  --color-secondary-dark: #cd1220;
  --color-secondary-subtle: #ffe9eb;
  --color-secondary-light: #ffd2d5;
  --color-secondary-fg: #ffffff;

  --color-gray-lighter: #dadada;
  --color-gray-darker: #9c9b9b;

  --color-accent: #ff3860;
  --color-danger: #e3342f;
  --color-success: #38c172;
  --color-warning: #f6993f;
  --color-info: #6cb2eb;
  --color-neutral: #3d4451;
}
